<!DOCTYPE html>
<html>

<head>
    <Title>Forget Password</Title>
</head>
<body>
    <form action="" method="post">
        <input type="password" name="password" placeholder="Password" id="password" />
        <input type="submit" value="submit" />
    </form>
</body>
</html>